@import url('https://fonts.googleapis.com/css?family=Poppins');


html{
    overflow: hidden;
   background-image: url('../../imgdesign/cust.png');
    background-repeat: no-repeat;
     background-size: 1537px 722px;
}
body{

    margin: 0px;
    padding: 0px;
    }
  /*wrapper for login*/
    .wrapper{
      display: flex;
      margin-left: 12.5%;
      flex-direction: column; 
      justify-content: center;
      width: 100%;
      min-height: 100%;
      padding: 20px;
      margin-top: 1%;
    }
    /*wrapper 2 for register*/
    .wrapper2{
       display: flex;
      margin-left: 12.5%;
      flex-direction: column; 
      justify-content: center;
      width: 100%;
      min-height: 10%;
      padding: 20px;
      margin-top: 1%;
      
    }
    /*wrapper 3 for remind*/
    .wrapper3{
      display: flex;
     margin-left: 12.5%;
     flex-direction: column; 
     justify-content: center;
     width: 100%;
     min-height: 100%;
     padding: 20px;
     margin-top: 1.3%;
   }
   /*for space between container*/
   .box { 
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  }
        
    #formContent {
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background: #fff;
      border: solid saddlebrown;
      padding: 30px;
      width: 90%;
      max-width: 450px;
      position: relative;
      padding: 0px;
      -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
      box-shadow: 0 30px 60px 0 rgba(0,0,0,0.7);
      text-align: center;
    }
    h2.active {
      
      color: saddlebrown;
      border-bottom: 3px solid saddlebrown ;
      font-family: poppins;
      
    }

    #formFooter {
      background-color: #e6e1e1;
      border-top: 1px solid #dce8f1;
      padding: 10px;
     
      -webkit-border-radius: 0 0 10px 10px;
      border-radius: 0 0 10px 10px;
      font-family: "Poppins", sans-serif;
      
    }

/* Full-width input fields */
input[type=text], input[type=password], input[type=tel]{
  width: 50%;
  padding: 10px;
  border-radius: 10px;
   margin: 5px 0 10px 0;
  border: 0.5px solid grey;
  background: #f1f1f1;
}


input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus {
  background-color:#C0C0C0 ;
  outline: none;
} 

    /*login buttn style*/
  input[type=submit]{
	background-color: saddlebrown;
  border: none; 
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px 8px;
   
}

input[type=submit]:hover{
background-color: sandybrown;
}

/*forgotpass & register button */
#formFooter a {
background-color:saddlebrown;
border-radius: 8px 8px;
display: inline-block;
color: white;
text-align: center;
padding: 8px 14px;
border-radius: 10px 10px;
text-decoration: none;
}
    
#formFooter a:hover{
background-color: sandybrown;
 }

/* Style the top navigation bar */


    
nav {
  line-height: 60px;
  width: 100%;
  background-color: saddlebrown;
  /* border-bottom-style: solid;
  border-bottom-color:sandybrown;  */
  
  
  }
  /* Style the navigation bar links */
  nav a {
    text-decoration: none;
    font-family: poppins;
    letter-spacing: 2px;                                                                        
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
    display: inline-block;
    text-align: center;
  
  } 
  nav :hover {
  
      color: sandybrown;
      box-sizing: border-box;
     /* border-radius:10px;*/ 
    
    }
  
    h5 {
      color: sandybrown;
      font-family: poppins;
      }
  