.btnbck {
    /* Add your desired styles here */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 12px 20px; /* Some padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded edges */
    cursor: pointer; /* Change cursor on hover */
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Add font weight */
    text-transform: uppercase; /* Change text to uppercase */
    left: auto;

  }
  
  button.btnbck:hover {
    background-color: #3e8e41; /* Darker green on hover */
  }
  
  button.btnbck:active {
    transform: translateY(2px); /* Move button down on click */
    box-shadow: 0px 1px 2px #888; /* Add box shadow */
  }
  