.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0 0 10px #ccc;
}

h2 {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-payment {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-payment:hover {
    background-color: #45a049;
}


  
  #expiredDate{
    width: 70px; /* adjust as needed */
    padding: 8px; /* adjust as needed */
    border-radius: 4px; /* adjust as needed */
    border: 1px solid gray; /* adjust as needed */
    font-size: 14px; /* adjust as needed */
  }